<!--      ЛОББИ С ЖИЛЫМИ КОМПЛЕКСАМИ      -->
<script>
 var go=function() {
	AutoWashApp.app.navigate('lobby');
}

 var per=function() {
	AutoWashApp.app.navigate('lobbyper');
}

 var map=function() {
	AutoWashApp.app.navigate('map');
	startLoading();
}

 var gokont=function() {
	AutoWashApp.app.navigate('kontakty');
}
 var gorss=function() {
 	startLoading2();
 	AutoWashApp.app.navigate('rss');
	setInterval(getRss(),5000);
 
	
}
</script>

<style>
.prilip {
  z-index: 101;
  background:#2d2d2d; 
  width:100%; 
  height:50px;
	position: fixed;
	bottom:0;
	left:0;
	display:block;
}
</style>

<div data-options="dxView : { name: 'home' } " >
<div style="background:#2d2d2d;" class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

<div class="prilip">
          <div style="width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gohome();">
            <div style="padding-top:15px; word-break:break-all;">КВАРТИРЫ</div>
          </div>
          <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gorss();">
			<div style="padding-top:15px; margin-left:-5px;">НОВОСТИ</div>
          </div>
		  <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gokont();">
			<div style="padding-top:15px;">КОНТАКТЫ</div>
          </div>
          <div style="clear:both;"></div>
          </div> 
		  
		<div data-bind="dxScrollView: { }">
		
		<div style="min-height:100%">
		
		<div style="width:100%; background:#2b2b2b; height:41px; float:left; color:#fbfcfc; font-size:18px; text-align:left;">
		<div style="float:left; width:40%;"><img src="img/ksk_logo.png" style="width:90%; height:auto; border:0px;"/></div>
		<div style="float:left; width:60%; color:#ffd900; font-size:14px;">
		<div style="margin-top:3px;">
		Карельская строительная компания
		</div>
		</div>
		<div style="both:clear;"></div>
		</div>

       <div><img src="img/oblaka.png" style="width:100%; height:auto; border:0px;" onClick="go();"/></div>
       <div ><img src="img/bol_med.jpg" style="width:100%; height:auto; border:0px;" onClick="per();"/></div>
       <div ><img src="img/map.jpg" style="width:100%; height:auto; border:0px;" onClick="map();"/></div>
	   <div style="padding-bottom:20%;"></div>
	   
	   </div>
	   
	   </div>
	   
       </div>
</div>
