<!--      ЖИЛОЙ КОМПЛЕКС ОБЛАКА      -->

<script>
 var gohome=function() {
	AutoWashApp.app.navigate('home');
}

 var gorss=function() {
 	startLoading2();
 	AutoWashApp.app.navigate('rss');
	setInterval(getRss(),5000);
 
	
}

 var gohata4k1=function() {
	AutoWashApp.app.navigate('hata4k1');
}




</script>

<style>
.prilip {
  z-index: 101;
  background:#2d2d2d; 
  width:100%; 
  height:50px;
	position: fixed;
	bottom:0;
	left:0;
	display:block;
}
</style>


<div data-options="dxView : { name: 'lobbyoblaka4', toolbar:false  } " >
  <div style="background:#2d2d2d;" class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

<div class="prilip">
          <div style="width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gohome();">
            <div style="padding-top:15px; word-break:break-all;">КВАРТИРЫ</div>
          </div>
          <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gorss();">
			<div style="padding-top:15px; margin-left:-5px;">НОВОСТИ</div>
          </div>
		  <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gokont();">
			<div style="padding-top:15px;">КОНТАКТЫ</div>
          </div>
          <div style="clear:both;"></div>
          </div> 

	<div data-bind="dxScrollView: { showScrollbar:false }">
    
	<div style="width:100%; background:#2b2b2b; height:20px; float:left; color:#fbfcfc; font-size:18px; text-align:left;">
            <div data-bind="dxAction: { action: '#_back' }" style="margin-left:10px; margin-top:10px;"> < Назад </div>
    </div>
	
	<br/><br/>
	
	<div style="min-height:100%">
  
    <div data-bind="dxAction: gohata4k1 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:66px; font-size:13px;">
    Четырехкомнатная квартира 99,17 м.кв.<br/><b style="color:#017cb8;">4 250 000 руб.</b>
    </div>
    </div>
    </div>
	
	
	<div style="padding-bottom:20%;"></div>
	</div>
	</div>
    </div>
</div>
