<!--      ЖИЛОЙ КОМПЛЕКС ОБЛАКА      -->

<script>
 var gohome=function() {
	AutoWashApp.app.navigate('home');
}

 var gorss=function() {
 	startLoading2();
 	AutoWashApp.app.navigate('rss');
	setInterval(getRss(),5000);
 
	
}

 var gohata3k1=function() {
	AutoWashApp.app.navigate('hata3k1');
}

 var gohata3k2=function() {
	AutoWashApp.app.navigate('hata3k2');
}

 var gohata3k3=function() {
	AutoWashApp.app.navigate('hata3k3');
}

 var gohata3k4=function() {
	AutoWashApp.app.navigate('hata3k4');
}

 var gohata3k5=function() {
	AutoWashApp.app.navigate('hata3k5');
}

 var gohata3k6=function() {
	AutoWashApp.app.navigate('hata3k6');
}

 var gohata3k7=function() {
	AutoWashApp.app.navigate('hata3k7');
}

 var gohata3k8=function() {
	AutoWashApp.app.navigate('hata3k7');
}




</script>

<style>
.prilip {
  z-index: 101;
  background:#2d2d2d; 
  width:100%; 
  height:50px;
	position: fixed;
	bottom:0;
	left:0;
	display:block;
}
</style>


<div data-options="dxView : { name: 'lobbyoblaka3', toolbar:false  } " >
  <div style="background:#2d2d2d;" class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

<div class="prilip">
          <div style="width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gohome();">
            <div style="padding-top:15px; word-break:break-all;">КВАРТИРЫ</div>
          </div>
          <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gorss();">
			<div style="padding-top:15px; margin-left:-5px;">НОВОСТИ</div>
          </div>
		  <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gokont();">
			<div style="padding-top:15px;">КОНТАКТЫ</div>
          </div>
          <div style="clear:both;"></div>
          </div> 

	<div data-bind="dxScrollView: { showScrollbar:false }">
    
	<div style="width:100%; background:#2b2b2b; height:20px; float:left; color:#fbfcfc; font-size:18px; text-align:left;">
            <div data-bind="dxAction: { action: '#_back' }" style="margin-left:10px; margin-top:10px;"> < Назад </div>
    </div>
	
	<br/><br/>
	
	<div style="min-height:100%">
  
    <div data-bind="dxAction: gohata3k1 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:66px; font-size:14px;">
    Трехкомнатная квартира 75,65 м.кв.<br/><b style="color:#017cb8;">3 290 000 руб.</b>
    </div>
    </div>
    </div>
	
	<div data-bind="dxAction: gohata3k2 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:136px; font-size:14px;">
    Трехкомнатная квартира 71,75 м.кв.<br/><b style="color:#017cb8;">3 180 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata3k3 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:206px; font-size:14px;">
    Трехкомнатная квартира 71,18 м.кв.<br/><b style="color:#017cb8;">3 180 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata3k4 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:276px; font-size:14px;">
    Трехкомнатная квартира 74,8 м.кв.<br/><b style="color:#017cb8;">3 250 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata3k5 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:346px; font-size:14px;">
    Трехкомнатная квартира 75,1 м.кв.<br/><b style="color:#017cb8;">3 290 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata3k6 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:416px; font-size:14px;">
    Трехкомнатная квартира 79,07 м.кв.<br/><b style="color:#017cb8;">3 380 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata3k7 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:486px; font-size:14px;">
    Трехкомнатная квартира 79,37 м.кв.<br/><b style="color:#017cb8;">3 380 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata3k8 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:556px; font-size:14px;">
    Трехкомнатная квартира 74,88 м.кв.<br/><b style="color:#017cb8;">3 250 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div style="padding-bottom:20%;"></div>
	</div>
	</div>
    </div>
</div>
