<!--      ЖИЛОЙ КОМПЛЕКС ОБЛАКА      -->

<script>
 var gohome=function() {
	AutoWashApp.app.navigate('home');
}

 var gorss=function() {
	AutoWashApp.app.navigate('rss');
}

 var gohata2k1=function() {
	AutoWashApp.app.navigate('hata2k1');
}

 var gohata2k2=function() {
	AutoWashApp.app.navigate('hata2k2');
}

 var gohata2k3=function() {
	AutoWashApp.app.navigate('hata2k3');
}

 var gohata2k4=function() {
	AutoWashApp.app.navigate('hata2k4');
}

 var gohata2k5=function() {
	AutoWashApp.app.navigate('hata2k5');
}

 var gohata2k6=function() {
	AutoWashApp.app.navigate('hata2k6');
}

 var gohata2k7=function() {
	AutoWashApp.app.navigate('hata2k7');
}




</script>

<style>
.prilip {
  z-index: 101;
  background:#2d2d2d; 
  width:100%; 
  height:50px;
	position: fixed;
	bottom:0;
	left:0;
	display:block;
}
</style>


<div data-options="dxView : { name: 'lobbyoblaka2', toolbar:false  } " >
  <div style="background:#2d2d2d;" class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >

<div class="prilip">
          <div style="width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gohome();">
            <div style="padding-top:15px; word-break:break-all;">КВАРТИРЫ</div>
          </div>
          <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gorss();">
			<div style="padding-top:15px; margin-left:-5px;">НОВОСТИ</div>
          </div>
		  <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:80%;" onClick="gokont();">
			<div style="padding-top:15px;">КОНТАКТЫ</div>
          </div>
          <div style="clear:both;"></div>
          </div> 

	<div data-bind="dxScrollView: { showScrollbar:false }">
    
	<div style="width:100%; background:#2b2b2b; height:20px; float:left; color:#fbfcfc; font-size:18px; text-align:left;">
            <div data-bind="dxAction: { action: '#_back' }" style="margin-left:10px; margin-top:10px;"> < Назад </div>
    </div>
	
	<br/><br/>
	
	<div style="min-height:100%">
  
    <div data-bind="dxAction: gohata2k1 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:66px; font-size:14px;">
    Двухкомнатная квартира 52,64 м.кв.<br/><b style="color:#017cb8;">2 430 000 руб.</b>
    </div>
    </div>
    </div>
	
	<div data-bind="dxAction: gohata2k2 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:136px; font-size:14px;">
    Двухкомнатная квартира 54,27 м.кв.<br/><b style="color:#017cb8;">2 430 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata2k3 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:206px; font-size:14px;">
    Двухкомнатная квартира 56,1 м.кв.<br/><b style="color:#017cb8;">2 530 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata2k4 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:276px; font-size:14px;">
    Двухкомнатная квартира 53,2 м.кв.<br/><b style="color:#017cb8;">2 430 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata2k5 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:346px; font-size:14px;">
    Двухкомнатная квартира 52,46 м.кв.<br/><b style="color:#017cb8;">2 430 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata2k6 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:416px; font-size:14px;">
    Двухкомнатная квартира 56,19 м.кв.<br/><b style="color:#017cb8;">2 530 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div data-bind="dxAction: gohata2k7 ">
    <div style="width:100%; text-align:left; height:70px; border:0px; background:url(img/hata_bg.jpg); color:#000000; padding-left:5px;">
    <div style="padding-top:20px; margin-left:3%;">
    <img src="img/two_room.png" style="width:10%; height:auto; border:0px;"/>
    </div>
	<div style="position:absolute; left:18%; top:486px; font-size:14px;">
    Двухкомнатная квартира 56,78 м.кв.<br/><b style="color:#017cb8;">2 530 000 руб.</b>
    </div>
    </div>
	</div>
	
	<div style="padding-bottom:20%;"></div>
	</div>
	</div>
    </div>
</div>