<script>

 
// jQuery(document).ready(function(){
 //       jQuery.ajax({
//            type: "GET", // метод передачи данных, можно пропустить - по умолчанию и так get
//            url: "http://feedproxy.google.com/RaymondCamdensColdfusionBlog", // путь к файлу, который будем читать
 //           dataType: "xml", // тип данных, с которыми работаем
   //         success: function(xml) { // переменная названа xml. ее можно назвать как либо по другому
            /*

                в ответе приходит объект XML.

                чтобы добраться до необходимого узла, используем jQuery-поиск по DOM узлам

                например, var idItem = jQuery(xml).find("#item1").eq(1).attr("id");

            */
     //       jQuery(xml).find('item').each(
       //         function()
         //       {
           //      alert('lol');
             //      var id = jQuery(this).attr('id'),
               //         title = jQuery(this).find('title').text(),
                        //url = jQuery(this).find('url').text(),
                 //       desc = jQuery(this).find('description').text();
                  //  jQuery('<div class="items"></div>').html('<h2><a href="'+url+'">'+title+'</a></h2><p>'+desc+'</p>').appendTo('#xml-data');
      //          });         
    //        }
  //      });
//});


 
</script>


